.App {

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.main-title {
  text-align: center;
}

.percentage-input {
  width: 40px;
  /* text-align: center; */
  padding: 5px;
}

.breed-input {
  /* text-align: center; */
  width: 90%;
  padding: 5px;
}

.breed-choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.datalist-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.percent-remaining {
  text-align: center;
}