@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

html {
  background-color: rgb(3, 252, 177);
  color: #052939;
}

.App {

}

header {
  display: flex;
  justify-content: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.main-title {
  text-align: center;
  font-family: 'Chango', cursive;
  font-size: 10vw;
  color: white;
  transform: translate(-3%);
  text-shadow: 
    .5vw .5vw 0px #F2C14E, 
    1vw 1vw 0px #F78154, 
    1.5vw 1.5vw 0px #CC2936, 
    2vw 2vw 0px #954E5A, 
    2.5vw 2.5vw 0px #052939,
    3vw 3vw 0px #05a374, 
    3.5vw 3.5vw 0px #05a374, 
    4vw 4vw 0px #05a374, 
    4.5vw 4.5vw 0px #05a374;
  margin-top: 20px;
  margin-bottom: 80px;
}

.predicted-weight-input,
.percentage-input {
  width: 40px;
  /* text-align: center; */
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border:  #6d3941 3px solid;
}

.breed-input {
  /* text-align: center; */
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  border:  #6d3941 3px solid;
}

.name-input, 
.email-input {
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  border:  #6d3941 3px solid;
}

.guess-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2C14E;
  height: auto;
  padding: 20px;
}

.breed-choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: auto;
  background-color:  #F78154;
  padding: 5px 0px;
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.datalist-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 302px;
  background-color:  #954E5A;
  padding: 0px 10px;
  border-radius: 8px;
  border:  #6d3941 8px solid;
  margin-bottom: 10px;
}

.percent-remaining {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Chango', cursive;
  font-size: 20pt;
}

.hundred-percent {

}

.step-title {
  margin: 0px;
  font-family: 'Chango', cursive;
  font-size: 20pt;
}

.name-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.predicted-weight-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  width: 302px;
  background-color:  #954E5A;
  padding: 0px 10px;
  border-radius: 8px;
  border:  #6d3941 8px solid;
  height: 70px;
  margin-bottom: 20px;
}

.step-one-inputs-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 302px;
  background-color:  #954E5A;
  padding: 0px 10px;
  border-radius: 8px;
  border:  #6d3941 8px solid;
  height: 100px;
  margin-bottom: 20px;
}

.submit-button {
  padding: 5px;
}

p {
  width: 440px;
  text-align: center;
}