@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

html {
  background-color: #03fcb1;
  color: #052939;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.main-title {
  text-align: center;
  font-family: 'Chango', cursive;
  font-size: 10vw;
  color: white;
  transform: translate(-3%);
  text-shadow: 
    .5vw .5vw 0px #F2C14E, 
    1vw 1vw 0px #F78154, 
    1.5vw 1.5vw 0px #CC2936, 
    2vw 2vw 0px #954E5A, 
    2.5vw 2.5vw 0px #052939,
    3vw 3vw 0px #05a374, 
    3.5vw 3.5vw 0px #05a374, 
    4vw 4vw 0px #05a374, 
    4.5vw 4.5vw 0px #05a374;
  margin-top: 0px;
  margin-bottom: 3vw;
}

.predicted-weight-input,
.percentage-input {
  width: 40px;
  /* text-align: center; */
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border:  #6d3941 3px solid;
}

.breed-input {
  /* text-align: center; */
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  border:  #6d3941 3px solid;
}

.name-input, 
.email-input {
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  border:  #6d3941 3px solid;
}

.guess-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2C14E;
  height: auto;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
  width: 60%;
}

.breed-choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  background-color:  #F78154;
  padding: 5px 0px;
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.datalist-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 302px;
  background-color:  #954E5A;
  padding: 0px 10px;
  border-radius: 8px;
  border:  #6d3941 8px solid;
  margin-bottom: 10px;
}

.hundred-percent, 
.percent-remaining {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Chango', cursive;
  font-size: 20pt;
  margin-top: 10px;
}

.hundred-percent {
  color: #03fcb1;
}

.step-title {
  margin: 0px;
  font-family: 'Chango', cursive;
  font-size: 30pt;
}

.name-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-email-container > p {
  width: 60%;
  margin: 10px;
}

.predicted-weight-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  width: 302px;
  background-color:  #954E5A;
  padding: 0px 10px;
  border-radius: 8px;
  border:  #6d3941 8px solid;
  height: 70px;
  margin-bottom: 20px;
}

.step-one-inputs-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 302px;
  background-color:  #954E5A;
  padding: 0px 10px;
  border-radius: 8px;
  border:  #6d3941 8px solid;
  height: 100px;
  /* margin-bottom: 20px; */
}

.go-again-button,
.submit-button {
  padding: 5px;
  background-color: #05a374;
  color: antiquewhite;
  font-family: 'Chango', cursive;
  border: #05a374 3px solid;
  border-radius: 4px;
  width: 160px;
  align-self: center;
  font-size: 14pt;
}

.go-again-button:hover,
.submit-button:hover {
  cursor: pointer;
  background-color: #047050;
  color: antiquewhite;
}

.go-again-button:active,
.submit-button:active {
  background-color: #03fcb1;
  color: #052939;
}

p {
  width: 440px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.nala-face-img-left,
.nala-face-img-right {
  height: 12vw;
}

.nala-face-img-left {
  margin: 0px 3vw 0px 0px;
}

.nala-face-img-right {
  margin: 0px 0px 0px 2.6vw;
}

.nala-circle {
  height: 12vw;
  border: #05a374 30px solid;
  border-radius: 300px;
  margin-bottom: 5px;
}

.nala-cutout {
  height: 20vw;
  min-height: 300px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.successful-submission {
  background-color: #F2C14E;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.forms-counter-number {
  font-family: 'Chango', cursive;
  font-size: 20pt;
  font-weight: 100;
  margin: 0px;
  background-color: #05a374;
  color: white;
  padding: 0px 8px 1px 8px;
  border-radius: 4px;
}

.forms-counter {
  font-size: 20pt;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

h5 {
  text-align: center;
  margin: 0px;
  font-size: 12pt;
}

.opening-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opening-paragraph-l1 {
  font-size: 20pt;
  font-weight: 900;
  margin-top: 0px;
}

.opening-paragraph-l2 {
  font-size: 18pt;
  font-weight: 800;
  margin-top: 10px;
}

.opening-paragraph-l3 {
  font-size: 16pt;
  font-weight: 700;
  width: 55%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.embark-link-sentence {
  width: 60%;
}

th {
  /* border: #05a374 2px solid; */
  padding: 10px;
  padding-bottom: 0px;
  font-weight: 800;
} 

td {
  text-align: center;
  border: #05a374 2px solid;
  padding: 10px;
  width: fit-content;
}

.table-summary-title {
  font-size: 16pt;
  font-weight: 900;
  padding-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  align-self: center;
}

.closing-sentence {
  text-align: center;
  width: 60%;
  align-self: center;
}

.email-span {
  font-weight: 900;
}

.adult-weight-table {
  margin-top: 20px;
  /* table-layout: fixed;
  width: 100%; */
  width: fit-content;
}

.thank-you-h1 {
  margin-top: 0px;
}

.scoring-guide-div {
  text-align: center;
  display: flex;
  justify-content: center;
}

.scoring-guide-div > h3 {
  width: 60%;
  margin-top: 0px;
}

.step-three-p {
  width: 340px;
  margin-bottom: 16px;
}

.cs-two {
  margin-top: 0px;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  td, th {
    padding: 4px;
  }

  th {
    font-size: 10pt;
    padding-bottom: 10px;
  }

  .table-summary-title {
    font-size: 10pt;
    font-weight: 900;
    padding-bottom: 10px;
  }

  .successful-submission {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .closing-sentence {
    text-align: center;
    width: 90%;
    align-self: center;
    margin-top: 20px;
  }

  .opening-paragraph-l1 {
    font-size: 16pt;
    font-weight: 800;
    width: 98%;
    margin-top: 8px;
  }
  
  .opening-paragraph-l2 {
    font-size: 14pt;
    font-weight: 700;
    width: 90%;
    margin-top: 8px;
  }
  
  .opening-paragraph-l3 {
    font-size: 12pt;
    font-weight: 600;
    width: 80%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .thank-you-h1 {
    font-size: 18pt;
    text-align: center;
  }

  .forms-counter-number {
    font-size: 14pt;
    font-weight: 100;
    margin: 0px;
    background-color: #05a374;
    color: white;
    padding: 0px 8px 1px 8px;
    border-radius: 4px;
  }
  
  .forms-counter {
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
  }

  .cs-two {
    margin-top: 0px;
  }

  .go-again-button {
    font-size: 16pt;
  }

  .guess-form-container {
    padding: 10px;
    width: 90%;
  }

  .step-one-inputs-div {
    width: 80%;
    background-color:  #954E5A;
    padding: 0px 10px;
    border-radius: 8px;
    border:  #6d3941 8px solid;
    height: 100px;
    margin: 8px 0px;
  }

  .name-email-container > p {
    /* width: 90%; */
    width: 90%;
  }

  .breed-choices-container {
    padding: 10px;
  }
  .breed-choices-container > p {
    /* width: 90%; */
    width: 90%;
  }

  .breed-input {
    width: auto;
    /* font-size: 10pt; */
  }

  .datalist-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 82%;
    background-color:  #954E5A;
    padding: 0px 10px;
    border-radius: 8px;
    border:  #6d3941 8px solid;
    margin-bottom: 5px;
  }

  .step-three-p {
    width: 90%;
  }

  .nala-circle {
    height: 60vw;
    border: #05a374 20px solid;
    border-radius: 300px;
    margin-bottom: 5px;
  }

  .embark-link-sentence {
    width: 90%;
    margin-top: 10px;
  }

  .predicted-weight-container {
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color:  #954E5A;
    padding: 0px 10px;
    border-radius: 8px;
    border:  #6d3941 8px solid;
    height: 70px;
    margin-bottom: 20px;
  }

  .submit-button {
    width: 50%;
  }

  .predicted-weight-container {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .step-title {
    font-size: 20pt;
  }

  .scoring-guide-div {
    display: flex;
    justify-content: center;
  }

  .scoring-guide-div > h3 {
    width: 90%;
    text-align: center;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {

  .opening-paragraph-l1 {
    font-size: 16pt;
    font-weight: 800;
    width: 88%;
    margin-top: 8px;
  }
  
  .opening-paragraph-l2 {
    font-size: 14pt;
    font-weight: 700;
    width: 76%;
    margin-top: 8px;
  }
  
  .opening-paragraph-l3 {
    font-size: 12pt;
    font-weight: 600;
    width: 75%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .scoring-guide-div > h3 {
    width: 90%;
    margin-top: 10px;
  }

  .step-one-inputs-div {
  justify-content: center;
    width: 80%;
    background-color:  #954E5A;
    padding: 0px 10px;
    border-radius: 8px;
    border:  #6d3941 8px solid;
    height: 120px;
    margin: 8px 0px;
  }

  .name-input {
    margin-bottom: 6px;
  }

  .email-input {
    margin-top: 6px;
  }

  .datalist-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 82%;
    background-color:  #954E5A;
    padding: 0px 10px;
    border-radius: 8px;
    border:  #6d3941 8px solid;
    margin-bottom: 5px;
  }

  .nala-circle {
    height: 50vw;
    border: #05a374 20px solid;
    border-radius: 300px;
    margin-bottom: 5px;
  }

  .submit-button {
    width: 50%;
    font-size: 14pt;
  }

  .step-title {
    font-size: 24pt;
  }

  .scoring-guide-div {
    width: 80%;
  }

  .step-three-p {
    margin-bottom: 4px;
  }

  .thank-you-h1 {
    font-size: 20pt;
  }

  th {
    font-size: 12pt;
    padding-bottom: 10px;
    font-weight: 700;
  }

  .table-summary-title {
    font-size: 12pt;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .breed-input {
    width: 46vw;
  }

  .breed-choices-container > p {
    width: 70%;
  }

  .embark-link-sentence {
    margin-bottom: 4px;
  }

  .thank-you-h1 {
    font-size: 24pt;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px){
  .nala-circle {
    height: 240px;
  }
}